@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HTTP Objects";
}

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Method</th>
            <th scope="col">Values</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Request.Url</th>
            <td>
                @ViewBag.reqURL

            </td>

        </tr>
        <tr>
            <th scope="row">Request.PhysicalApplicationPath</th>
            <td>
                @ViewBag.reqPAP

            </td>

        </tr>
        <tr>
            <th scope="row">Request.Path</th>
            <td>
                @ViewBag.reqP
            </td>

        </tr>
        <tr>
            <th scope="row">Request.Browser.Type</th>
            <td>
                @ViewBag.reqBT
            </td>

        </tr>
        <tr>
            <th scope="row">Request.QueryString["n"]</th>
            <td>
                @ViewBag.reqQS
            </td>

        </tr>
        <tr>
            <th scope="row">Request.Headers["Accept"]</th>
            <td>
                @ViewBag.reqH

            </td>

        </tr>
        <tr>
            <th scope="row">Request.HttpMethod</th>
            <td>

                @ViewBag.reqHTM
            </td>

        </tr>
    </tbody>
</table>